/*MINE
https://materializecss.com/text-inputs.html
*/
/* ----- General ---- */
:root{
  --main-background-color : #232F34;
  --secondary-background-color:#344954;
  --primary-color :#4A6572;
  --secondary-color : #F9aa33;
  --shadow-color : #182024;
  --on-surface : #232F34;
}
body a{
  text-decoration:none;
}

body {
  background-color: var(--main-background-color);
  user-select: none;
}

#main{
  position: fixed;
  height: 50%; width: 70%;
  top: 20%; left: 15%;
}


/* ----- Choose chapters too study ----- */
#fab{
  cursor: pointer;
  position: absolute;
  margin: 0;
  bottom: 1.5rem;right: 1.5rem;
  text-align: center;
  height: 3.5rem; width: 3.5rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: black;
  transition: .2s ease-in-out;
}
#fab span:after{
  content: 'menu_open';
  transition-delay: 0.1s;
}
#fab_input{
  display: none;
}
input:checked + label #fab{
  background-color: white;
  color: grey;
  transform: rotate(90deg);
}
input:checked + label #fab span:after{
  content: 'clear';
}
#fab span{
  position: relative;
  top: .75rem;
  margin: 0;
  font-size: 2rem;
}
#fab:hover{
  box-shadow: 1rem 1rem 1rem var(--shadow-color);
}
input:checked + label #fab:hover{
  box-shadow: 1rem -1rem 1rem var(--shadow-color);
}
#fab_menu{
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 5rem; width: 3.5rem;
  right: 1.5rem;
  text-align: center;
  transition: .2s ease-in-out;
  transition-delay: 0.1s;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}
.mini_fab{
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 1.5rem;
  height: 2.5rem; width: 2.5rem;
  border-radius: 50%;
  background-color: white;
  transition: .2s ease-in-out;
}
.mini_fab:hover{
  transform: rotateZ(15deg);
  box-shadow: 1rem 1rem 1rem var(--shadow-color);
}
.mini_fab span{
  position: relative;
  top: .55rem;
  margin: 0;
  font-size: 1.4rem;
  color: grey;
}
.expand {
  animation-name: expand;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes expand {
  0%   { transform: scale(1,0)      translateY(6rem);   opacity: 0.2;   display: block;}
  10%  { transform: scale(1.1,.1)   translateY(6rem);   opacity: 0.8;   display: block;}
  30%  { transform: scale(.9,1.1)   translateY(-10px);  opacity: 0.9;   display: block;}
  50%  { transform: scale(1.05,.95) translateY(0);      opacity: 1;     display: block;}
  57%  { transform: scale(1,1)      translateY(-1px);                   display: block;}
  64%  { transform: scale(1,1)      translateY(-0.2px);                 display: block;}
  100% { transform: scale(1,1)      translateY(0);                      display: block;}
}
.shrink{
  animation-name: shrink;
}
@keyframes shrink{
  0%   { transform: scale(1,1)      translateY(0);}
  40% { transform: scale(1,0)       translateY(6rem);   opacity:  0.2;   display: none;}
  100% { transform: scale(1,0)      translateY(6rem);   opacity:  0.2;   display: none;}
}

#chapters_overlay{
  position: fixed;
  visibility: hidden;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: 2;
}
#scrim{
  position: absolute;
  width: 100%; height: 100%;
  background-color: var(--on-surface);
  opacity: 32%;
  z-index: 2;
  transition: .2s ease-in-out;
}
#dialog{
  right: 0;
  position: absolute;
  width: 46vh; height: 75vh;
  background-color: white;
  border-radius: 3px;
  z-index: 3;
  padding-left: 4vh;
  padding-top: 3vh;
  top: 12vh;
  display: flex;
  flex-flow: column;
  transition: transform .2s;
  transform: translateX(30em);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  opacity: 32%;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  opacity: 60%;
}
#dialog .header{
  flex: 0 1 auto;
}
#dialog .content{
  flex: 1 1 auto;
}
#dialog .footer{
  flex: 0 1 2em;
}
#dialog .title{
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  margin-top: 14%;
  margin-bottom: 9%;
  color: var(--on-surface);
}
#dialog .text{
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: medium;
  color: var(--on-surface);
}
#navigation{
  position: relative;
  bottom: 0;
  text-align: right;
}
#navigation .button{
  margin: 1% 0 1% 10%;
}
#dialog .button{
  position: relative;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: 1% 5% 1% 0;
  color: var(--primary-color);
  transition: 0.1s ease-in;
}
#dialog .button:hover{
  transform: scale(1.1);
}
#dialog .button:active{
  opacity: 32%;
}
#dialog hr{
  position: relative;
  margin: 0;
  color: var(--on-surface);
  background-color: var(--on-surface);
  height: 1px;
  opacity: 32%;
  width: 100%;
}
#chapter_container{
  display: inline-block;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  width: 100%;
}
#chapters_overlay ul{
  list-style-type: none;
  column-count: 1;
  padding: 0;
  -webkit-column-count: 1;
}
#chapters_overlay li{
  margin-left: 0.5em;
  margin-bottom: 1em;
}
#chapters_overlay label{
  text-align: left;
  vertical-align: middle;
}
.chapter{
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  color: var(--on-surface);
  word-wrap: break-word;
  word-break: normal;
  top: 0; left: 60px;
  cursor: pointer;
  font-size: .9em;
  font-weight: normal;
  margin: 0 0 0 0;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
}
.chapter_container{
  position: relative;
  height: 4em;
  display: list-item;
}
.switch{
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  left: 0; top: -.4em;
  transform: scale(0.6);
  border-radius: 5px;
}
/*hides the vanilla check box*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/*The slider*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--secondary-color);
}
input:focus + label {
  box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* ----- Menu -----*/
a.menu {
  display: inline-block;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
}
a.menu div{
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
a.menu span{
  font-size: larger;
  display: inline-block;
  vertical-align: middle;
}
a.menu div:hover{
  transform: scale(1.2)
}


/* ----- Custom Button ----- */
a.custom_button div{
  height: 25px;
  width: 120px;
  border-radius: 5px;

  color: white;

  background-color: var(--secondary-background-color);

  box-shadow: 3px 3px 5px 6px var(--shadow-color);

  cursor: pointer;
  transition: all .2s ease-in-out;
}

a.custom_button span{
  display: inline-block;
  vertical-align: middle;
}

a.custom_button div:hover{
  background-color: #293942;
  transform: scale(1.1)
}

#button_div{
  padding-top: 1%;
  position: relative;
}


/* ----- Progress Bar ----- */
#progress_bar{
  position: fixed;
  bottom: 25%;
  height: 2%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
#progress{
  position: relative;
  left: 0%;
  width: 80%;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  text-align: center;
}
#empty{
  position: relative;
  left: 20%;
  height: 4px; width: 60%;
  border-radius: 2px;
  background-color: var(--secondary-background-color);
}
#progress_bar p{
  position: relative;
  display: inline-block;
  font-size: x-small;
  color: white;
}


/* ----- Reset -----*/
#reset{
  position: fixed;
  width: 100%;
  bottom: 5%; left: 0%;
  transition: all .2s ease-in-out;
  text-align: center;
}
#reset div{
  display: inline-block;
  text-align: center;
}
#reset div:hover{
  transform: scale(1.1);
}
#reset p{
  position: relative;
  display: inline-block;
  font-size: x-small;
  color: white;
  cursor: pointer;
}
#reset_message{
  margin-left: 15pt;
  visibility: hidden;
}


/* ----- Header ----- */
#head{
  position: fixed;
  width: 100%;
  top: 0%; left: 0%;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 3px 5px 6px var(--shadow-color);
  display: table;
}
#head_img{
  display: inline-block;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 1%;
  margin-bottom: 1%;
}
#head_img img{
  position: absolute;
  top: 15%;
  height: 70%;
}


/*----- Suggestions -----*/
#suggestions{
  float: right;
  margin-right: 3%;
}
#suggestions span{
  margin-right: 3px;
}
#suggestion_overlay{
  position: relative;
  z-index: 1;
  padding: 15px;
  margin-top: 4%;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 3px 5px 6px var(--shadow-color);
  float: right;
}
#suggestion_overlay input{
  margin-top: 5px;
}
#suggestion_overlay input[type=text]{
  color: white;
  width: 90%;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 0;
  padding: 5px;
  outline: none;
}
#suggestion_overlay input[type=text]::-webkit-input-placeholder{
  color: white;
}
#suggestion_overlay input[type=text]:-ms-input-placeholder{
  color: white;
}
#suggestion_overlay input[type=text]::placeholder{
  color: white;
}
#suggestion_overlay input[type=submit]{
  margin-top: 8px;
  border: 0;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: var(--secondary-background-color);
  box-shadow: .5px .5px 1px 1.3px var(--shadow-color);
  cursor: pointer;
}
#suggestion_overlay input[type=submit]:disabled{
  box-shadow: 0 0 0 0;
  color: gray;
}
#suggestion_overlay label{
  font-family: 'Work Sans', sans-serif;
  font-size: 11px;
  color: white;
}


/* ----- Question Carousel ----- */
#question_div{
  height: 90%; width: 100%;
  transform-style: preserve-3d;
  position: relative;
  perspective: -50em;
}
#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-150em) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.3s;
  z-index: 1;
}
.carousel_cell {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  transition: transform 0.3s, opacity 1s;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 2px 2px var(--shadow-color);
  border-radius: 20px;
  display: table;
  backface-visibility: hidden;
  pointer-events: none;
}
.container{
  display: table-cell;
  vertical-align: middle;
  backface-visibility: hidden;
}
.container img{
  max-height: 80%;
}
/* tz = 70% * tan(360 / (n * 2)) */
.carousel_cell:nth-child(1) { transform: rotateY(   0deg) translateZ(-150em);}
.carousel_cell:nth-child(2) { transform: rotateY(  45deg) translateZ(-150em);}
.carousel_cell:nth-child(3) { transform: rotateY(  90deg) translateZ(-150em);}
.carousel_cell:nth-child(4) { transform: rotateY( 135deg) translateZ(-150em);}
.carousel_cell:nth-child(5) { transform: rotateY( 180deg) translateZ(-150em);}
.carousel_cell:nth-child(6) { transform: rotateY( 225deg) translateZ(-150em);}
.carousel_cell:nth-child(7) { transform: rotateY( 270deg) translateZ(-150em);}
.carousel_cell:nth-child(8) { transform: rotateY( 315deg) translateZ(-150em);}
