@font-face {
  font-family: "LM";
  src: url("/ressources/lmroman10-regular-webfont.woff") format("woff"),
    url("/ressources/lmroman10-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#main {
  width: calc(70%-10px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;

  overflow-y: scroll;
}
#correction_image {
  width: 80%;
  margin-bottom: 10px;
}

h2,
h3,
h4,
p {
  font-family: "Work Sans", sans-serif;
  color: white;
}
h4 {
  margin: 0;
}
#question {
  color: white;
  font-family: "LM" !important;
  font-size: 2em;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  opacity: 32%;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  opacity: 60%;
}
#code_div ::-webkit-scrollbar-thumb {
  background: #aaa !important;
}

/* Side panel */
#side_panel {
  width: calc(27% - 5px - 4em);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  background: var(--secondary-background-color);
  box-shadow: 0.3rem var(--shadow-color);

  padding: 1em;
  overflow-y: scroll;
}
#side_panel p {
  text-align: justify;
  padding-bottom: 1em;
}
#side_panel span {
  user-select: text;
  font-family: monospace;
}
@media screen and (max-width: 600px) {
  html {
    overflow-y: scroll;
  }
  body {
    overflow-y: scroll;
  }
  #main {
    position: relative;
    width: calc(100% - 2em);
    overflow: hidden;
    height: fit-content;
  }
  #side_panel {
    position: relative;
    left: 0;
    width: calc(100% - 2em);
    height: fit-content;
  }
}

#submit_button_div {
  position: relative;
  margin: 1.5em 0;
}
#submit,
#file + label {
  font-size: 1em;
  font-family: "Work Sans", sans-serif;

  display: inline-block;
  width: fit-content;
  padding: 5px 10px;
  position: absolute;
  top: 0;

  border: 0;
  border-radius: 5px;
  outline: none;

  background-color: var(--secondary-background-color);
  box-shadow: 1.5px 1.5px 2.5px 3px var(--shadow-color);

  transition: 0.1s ease-in;
}
#submit {
  color: var(--secondary-color);
  right: 0;
}
#submit:hover,
#file + label:hover {
  background-color: #293942;
  transform: scale(1.1);
}
.input-field {
  width: fit-content;
  margin: 0 0.5em;
}
#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#file + label {
  cursor: pointer;
  white-space: nowrap;
  color: white;
}
