form{
  height: 100%;
  width: 100%;
}
input[type=text], textarea{
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%;
  margin: 0 0 8px;
  border-bottom: 1px solid rgba(35,47,52,.8);
  box-shadow: none;
  line-height: normal;
  overflow-y: hidden;
  padding: .8rem 0 .3rem;
  resize: none;
  min-height: 2.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  transition: box-shadow .3s, border .3s;
}
input[type=submit]{
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}
input:focus{
  outline: 0;
  border: 0;
}
input:focus, textarea:focus{
  border-bottom: 1px solid var(--secondary-color);
  box-shadow: 0 1px 0 0 var(--secondary-color);
}
#suggestion_dialog label{
  position: absolute;
  top: .8rem; left: 0;
  transform-origin: 0 100%;
  cursor: text;
  transition: transform .2s ease-out, color .2s ease, font-size .2s;
  color: var(--on-surface);
  opacity: .8;
}
#suggestion_dialog textarea:focus + label, #suggestion_dialog input:focus + label{
  color: var(--secondary-color);
  box-shadow: none;
  outline: 0;
  border: 0;
}
#suggestion_dialog .active{
  transform: translateY(-1.2rem);
  font-size: small;
}
.input-field{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}